HW2/assignment2.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"790da6ec.bb5998","type":"http in","z":"deb0d57.1c46528","name":"Random Number Request","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":330,"y":480,"wires":[["9aa2590f.dd7e28"]]},{"id":"35b55288.017d9e","type":"http response","z":"deb0d57.1c46528","name":"End Node","statusCode":"","headers":{"content-type":"application/json"},"x":980,"y":480,"wires":[]},{"id":"9aa2590f.dd7e28","type":"random","z":"deb0d57.1c46528","name":"","low":"1","high":"100000000000000","inte":"true","property":"payload","x":540,"y":480,"wires":[["ac92bbdf.14c5b8"]]},{"id":"ac92bbdf.14c5b8","type":"function","z":"deb0d57.1c46528","name":"Get Number","func":"var d = new Date();\nvar time = d.getHours() + \":\" + d.getMinutes();\nflow.set(\"numberTime\",time);\nflow.set(\"number\",msg.payload);\nmsg.payload = {\"random\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["35b55288.017d9e"]]},{"id":"a054f838.4f59b8","type":"http in","z":"deb0d57.1c46528","name":"Time Reuqest","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":290,"y":520,"wires":[["646f3809.c469f8"]]},{"id":"646f3809.c469f8","type":"function","z":"deb0d57.1c46528","name":"Get Time","func":"var d = new Date();\nvar t = d.getHours() + \":\" + d.getMinutes();\nflow.set(\"time\",t);\nmsg.payload = {\"time\": t};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":520,"wires":[["fb8cf07f.73179"]]},{"id":"fb8cf07f.73179","type":"http response","z":"deb0d57.1c46528","name":"End Node","statusCode":"","headers":{"content-type":"application/json"},"x":980,"y":520,"wires":[]},{"id":"47d156b0.472408","type":"http in","z":"deb0d57.1c46528","name":"Page Request","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":290,"y":560,"wires":[["4cad9e0d.6003"]]},{"id":"babe2325.62d72","type":"http response","z":"deb0d57.1c46528","name":"End Node","statusCode":"","headers":{"content-type":"text/html"},"x":980,"y":560,"wires":[]},{"id":"4cad9e0d.6003","type":"function","z":"deb0d57.1c46528","name":"Get Page","func":"if (flow.get(\"number\") === undefined){\n    if (flow.get(\"time\") === undefined){\n        msg.payload = \"No number requests have been received\\nNo time requests Have been received\";\n    }\n    else{\n        msg.payload = \"No number requests habe been received\\nLast time request was at \" + flow.get(\"time\");\n    }\n}\nelse{\n    if (flow.get(\"time\") === undefined){\n        msg.payload = \"Last number requested was at \" + flow.get(\"numberTime\") + \" and the number was \" +flow.get(\"number\") +\"\\nNo time requests Have been received\";\n    }\n    else{\n        msg.payload = \"Last number requested was at \" + flow.get(\"numberTime\") + \" and the number was \" +flow.get(\"number\") + \"\\nLast time request was at \" + flow.get(\"time\");\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["babe2325.62d72"]]}]