HW3/assignment3bluemix.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29e3b7c7.dc6218","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":260,"y":340,"wires":[["9ccc64fb.8638a8","3a517b56.9b09b4"]]},{"id":"9ccc64fb.8638a8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":360,"wires":[]},{"id":"3a517b56.9b09b4","type":"function","z":"deb0d57.1c46528","name":"Gather Data","func":"flow.set(\"time\",msg.payload.d.timestamp);\nflow.set(\"temperature\",msg.payload.d.temp);\nflow.set(\"hum\",msg.payload.d.humidity);\nflow.set(\"pres\",msg.payload.d.pressure);","outputs":0,"noerr":0,"x":450,"y":320,"wires":[]},{"id":"79dd6a59.a34734","type":"http in","z":"deb0d57.1c46528","name":"weather request","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":300,"y":420,"wires":[["a2cba95b.939db8"]]},{"id":"9a702122.8c48b","type":"http response","z":"deb0d57.1c46528","name":"weather endnode","statusCode":"","headers":{"content-type":"application/json"},"x":780,"y":420,"wires":[]},{"id":"a2cba95b.939db8","type":"function","z":"deb0d57.1c46528","name":"Get Data","func":"if(flow.get(\"time\")===undefined){\n    msg.payload = \"No weather events recieved yet\";\n}\nelse{\n    msg.payload = \"Temperature \" + flow.get(\"temperature\") + \", humidity \" + flow.get(\"hum\") + \" and pressure \" + flow.get(\"pres\") + \" were detected at \" + flow.get(\"time\") +\"\\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":420,"wires":[["9a702122.8c48b"]]}]