HW3/assignment3pi.txt
[{"id":"8053507a.9336a","type":"tab","label":"Flow 1"},{"id":"675a2d97.6be674","type":"rpi-sensehat in","z":"8053507a.9336a","name":"Enviorment Events","motion":false,"env":true,"stick":false,"x":120,"y":200,"wires":[["88be82d9.3e12d"]]},{"id":"88be82d9.3e12d","type":"function","z":"8053507a.9336a","name":"Date and Data","func":"var dateTemp = new Date();\nvar time = dateTemp.getHours() + \":\" + dateTemp.getMinutes();\nvar temp = msg.payload.temperature;\nvar humidity = msg.payload.humidity;\nvar pressure = msg.payload.pressure;\nmsg.payload = {\"d\":{\"timestamp\":time,\"temp\":temp,\"humidity\":humidity,\"pressure\":pressure}}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["18bbd305.39ab6d","a9ce7ef6.ff7cb","7c3dc5f2.814ecc"]]},{"id":"a9ce7ef6.ff7cb","type":"wiotp out","z":"8053507a.9336a","authType":"d","qs":"true","qsDeviceId":"a9ce7ef6.ff7cb","deviceKey":"","deviceType":"","deviceId":"","event":"weather","format":"json","name":"","x":560,"y":200,"wires":[]},{"id":"18bbd305.39ab6d","type":"debug","z":"8053507a.9336a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":260,"wires":[]},{"id":"7c3dc5f2.814ecc","type":"wiotp out","z":"8053507a.9336a","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"885eed76.94e01","deviceType":"raspberryGW","deviceId":"2","event":"event","format":"json","name":"Gateway","x":540,"y":140,"wires":[]},{"id":"885eed76.94e01","type":"wiotp-credentials","z":"","name":"","org":"h8xea7","devType":"raspberryGW","devId":"2"}]